<div class="page-header">
    <div class="">
        <strong>
            @Html.ActionLink("Tickets", "Index")
            @*<small>| Ticket - @ViewBag.id</small>*@
        </strong>

    </div>
</div>

<div class="row page_content">
    @*<input type="hidden" id="ticket_code" value="@ViewBag.id" />*@
    <div class="col-sm-3">
        @Html.Partial("_TicketProperties")
    </div>

    <div class="col-sm-9">
        @Html.Partial("_PostThread")
    </div>
    
    @Html.Partial("_ForwardTicket")
</div>
